<div class="supplier-edit-container">
  <mat-card-title>{{sectionTitle}}</mat-card-title>
  <mat-card>
    <form *ngIf="supplierForm" [formGroup]="supplierForm">
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter supplier name">
          <mat-error *ngIf="supplierForm.controls['name'].invalid">
            Supplier name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Mobile</mat-label>
          <input matInput formControlName="mobile" placeholder="Enter mobile number">
          <mat-error *ngIf="supplierForm.controls['mobile'].invalid">
            Mobile number is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" placeholder="Enter address">
          <mat-error *ngIf="supplierForm.controls['address'].invalid">
            Address is required
          </mat-error>
        </mat-form-field>
        <div>
          <mat-label>Status </mat-label>
          <mat-slide-toggle formControlName="status" color="primary" [checked]="supplierForm.controls['status'].value === true">
            {{ supplierForm.get('status')?.value ? 'Active' : 'Inactive' }}
          </mat-slide-toggle>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="toggleEdit()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <span class="spacer"></span>
        <button (click)="handleEdit()" [disabled]="!supplierForm.dirty || !supplierForm.valid" color="primary" mat-raised-button
                type="submit">Save Changes
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
