<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; index as i">{{ i + 1 }}</td>
    </ng-container>
    <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column | camelCaseToTitle }}</th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['index'].concat(columnsToDisplay)"></tr>
    <tr mat-row *matRowDef="let row; columns: ['index'].concat(columnsToDisplay);"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data to display</td>
    </tr>
  </table>
</mat-card>
