<div class="filter-actions">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. value">
  </mat-form-field>
  <button (click)="toggleView(ViewMode.TABLE)" *ngIf="currentViewMode !== ViewMode.TABLE" color="accent"
          mat-raised-button>Table
  </button>
  <button (click)="toggleView(ViewMode.ADD)" *ngIf="currentViewMode !== ViewMode.ADD" color="accent" mat-raised-button>
    Add new
  </button>
  <button *ngIf="selectEnabled && selection.hasValue()" color="warn" mat-raised-button>Delete</button>
</div>

<div *ngIf="currentViewMode === ViewMode.ADD">
  <ng-content select="[register]"></ng-content>
</div>
<div *ngIf="currentViewMode === ViewMode.EDIT">
  <ng-content select="[edit]"></ng-content>
</div>
<div *ngIf="currentViewMode === ViewMode.TABLE" class="mat-elevation-z8">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <table *ngIf="!loading" [dataSource]="dataSource" mat-table matSort>

    <ng-container *ngIf="selectEnabled" matColumnDef="select">
      <th *matHeaderCellDef mat-header-cell>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      matTooltip="Select all"
        >
        </mat-checkbox>
      </th>
      <td *matCellDef="let row" mat-cell>
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                      (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)"
                      matTooltip="Select">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngIf="actionsEnabled" matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell>Action</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="handleEdit(element)" mat-icon-button matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="handleDelete(element)" color="warn" mat-icon-button matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th *matHeaderCellDef mat-header-cell> {{ column | titlecase }}</th>
      <td *matCellDef="let element" mat-cell> {{ element[column] }}</td>
    </ng-container>

    <tr *matHeaderRowDef="getTableColumns()" mat-header-row></tr>
    <tr *matRowDef="let row; columns: getTableColumns();" mat-row></tr>

    <tr *matNoDataRow class="mat-row">
      <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
