table {
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

mat-paginator {
  margin-bottom: 50px;
}

.filter-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2em;
}


.filter-actions mat-form-field {
  max-width: 100%;
}

.table-container {
  display: flex;
  width: 100%;
}

button {
  width: 115px;
}

