<div class="edit-profile-container">
  <mat-card-header>
    <mat-card-title>{{ sectionTitle }}</mat-card-title>
  </mat-card-header>
  <mat-card class="edit-profile-card">
    <form *ngIf="profileForm" [formGroup]="profileForm">
      <mat-card-content>
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input [disabled]="true" [value]="userEmail" matInput>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Role</mat-label>
            <input [disabled]="true" [value]="userRole" matInput>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="Enter your first name">
            <mat-error *ngIf="profileForm.controls['firstName'].invalid">
              First name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Enter your last name">
            <mat-error *ngIf="profileForm.controls['lastName'].invalid">
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>Phone</mat-label>
            <input formControlName="phone" matInput placeholder="Enter your phone number">
            <mat-error *ngIf="profileForm.controls['phone'].invalid">
              Phone number is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Country</mat-label>
            <input formControlName="country" matInput placeholder="Enter your country">
            <mat-error *ngIf="profileForm.controls['country'].invalid">
              Country is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput placeholder="Enter your address">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput placeholder="Enter your city">
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Zip Code</mat-label>
            <input formControlName="zip" matInput placeholder="Enter your zip code">
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="toggleEdit()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <span class="spacer"></span>
        <button (click)="handleEdit()" [disabled]="!profileForm.dirty || !profileForm.valid" color="primary" mat-raised-button
                type="submit">Save Changes
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
