.brand-create-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  margin: 10px 0;
}

.full-width, form {
  width: 100%;
}

mat-card-title {
  align-self: center;
}

