<div class="register-container">
  <mat-card-title>Register User</mat-card-title>
  <mat-stepper #stepper [linear]="true">
    <mat-step [editable]="!registrationSuccess" [stepControl]="basicInfoForm">
      <form [formGroup]="basicInfoForm">
        <ng-template matStepLabel>Basic Info</ng-template>
        <div class="form-row">
          <mat-form-field appearance="fill" class="half-width">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput placeholder="Enter your first name">
            <mat-error *ngIf="basicInfoForm.controls['firstName'].invalid">
              First name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput placeholder="Enter your last name">
            <mat-error *ngIf="basicInfoForm.controls['lastName'].invalid">
              Last name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Phone</mat-label>
            <input formControlName="phone" matInput placeholder="Enter your phone number">
            <mat-error *ngIf="basicInfoForm.controls['phone'].invalid">
              Phone number is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Country</mat-label>
            <input formControlName="country" matInput placeholder="Enter your country">
            <mat-error *ngIf="basicInfoForm.controls['country'].invalid">
              Country is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput placeholder="Enter your address">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="two-three-width">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput placeholder="Enter your city">
          </mat-form-field>
          <mat-form-field appearance="fill" class="one-three-width">
            <mat-label>Zip Code</mat-label>
            <input formControlName="zip" matInput placeholder="Enter your zip code">
          </mat-form-field>
        </div>
        <div>
          <button color="primary" mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [editable]="!registrationSuccess" [stepControl]="credentialsForm">
      <form [formGroup]="credentialsForm">
        <ng-template matStepLabel>Credentials</ng-template>
        <div class="form-row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter your email">
            <mat-error *ngIf="credentialsForm.controls['email'].invalid">
              Valid email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                   placeholder="Enter your password">
            <mat-icon (click)="hide = !hide" matSuffix>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            <mat-error *ngIf="credentialsForm.controls['password'].invalid">
              Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let role of roleKeys" [value]="role.toLowerCase()">
                {{ role }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="credentialsForm.controls['role'].invalid">
              Role is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button color="primary" mat-raised-button matStepperPrevious>Back</button>
          <span class="spacer"></span>
          <button (click)="handleRegister()" color="primary" mat-raised-button matTooltip="Register user">Register
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [aria-labelledby]="!(registrationSuccess) ? 'disabled_Resi' : ''" [completed]="registrationSuccess"
              [editable]="false">
      <ng-template matStepLabel>Done</ng-template>
      <p class="success-message">Successfully registered a new user. You can now share credentials or reset the
        form:</p>
      <div class="button-container">
        <button (click)="copyCredentials()" [disabled]="!registrationSuccess" color="primary"
                mat-raised-button matTooltip="Copy user credentials to clipboard">
          <mat-icon>content_copy</mat-icon>
          Copy to Clipboard
        </button>
        <button (click)="sendEmail()" [disabled]="!registrationSuccess" color="accent" mat-raised-button
                matTooltip="Send user credentials via email">
          <mat-icon>email</mat-icon>
          Send via Email
        </button>
        <button (click)="handleReset()" color="warn" mat-raised-button matTooltip="Reset the registration form">
          <mat-icon>restart_alt</mat-icon>
          Reset
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
