mat-toolbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}

.app-logo {
  height: 40px;
  width: auto;
  margin-left: 30px;
}

mat-toolbar .spacer {
  flex: 1 1 auto;
}

mat-toolbar button {
  margin: 0;
}

.toolbar-height {
  height: 64px;
}

mat-drawer {
  width: 230px;
}

mat-drawer-container {
  background: transparent;
}

mat-drawer-container, mat-drawer {
  height: 100vh;
  padding-top: 64px;
}

mat-drawer-content {
  padding: 20px;
}

.drawer-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.spacer {
  flex: 1;
}

.drawer-content mat-list {
  padding-top: 2px;
  padding-bottom: 2px;
}

.icon-center {
  display: inline-flex;
}

::ng-deep mat-nav-list .activated {
  background-color: #dfdfdf;
}
