<mat-toolbar class="toolbar-height" color="primary">
  <button (click)="handleDrawerToggle()" color="accent" mat-stroked-button>
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="dashboard">
    <img alt="Application Logo" class="app-logo" height="512" ngSrc="assets/inventory-management.png" width="512">
  </a>
  <span class="spacer"></span>
  <a [matMenuTriggerFor]="userMenu" mat-button>
    <mat-icon>account_circle</mat-icon>
    Profile
  </a>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>edit</mat-icon>
      <span>Edit Profile</span>
    </button>
    <button (click)="onLogout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer [class.mat-elevation-z4]="true" [opened]="drawerOpened" mode="side">
    <div class="drawer-content">
      <div *ngIf="hasAnyElement(navItems)"></div>
      <mat-nav-list role="navigation">
        <div *ngFor="let navItem of navItems">
          <a *ngIf="(currentRole | async) === RolesEnum.Admin || (currentRole | async) === navItem.role"
             [activated]="isActive(navItem.path)"
             [disableRipple]="true"
             [routerLinkActiveOptions]="{exact: true}"
             [routerLink]="[navItem.path]"
             mat-list-item
             routerLinkActive="activated"
          >
            <span class="icon-center">
              <mat-icon>{{ navItem.icon }}</mat-icon>
              {{ navItem.title }}
            </span>
          </a>
        </div>
      </mat-nav-list>
      <div class="spacer"></div>
      <div class="logout-section">
        <button (click)="onLogout()" class="logout-btn" color="primary" mat-stroked-button>
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
