<mat-toolbar class="toolbar-height" color="primary">
  <button (click)="handleDrawerToggle()" color="accent" mat-stroked-button>
    <mat-icon>menu</mat-icon>
  </button>
    <a routerLink="dashboard">
    <img alt="Application Logo" class="app-logo" ngSrc="assets/inventory-management.png" height="512" width="512">
  </a>
  <span class="spacer"></span>
  <button (click)="onLogout()" color="accent" mat-stroked-button>
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer [class.mat-elevation-z4]="true" [opened]="drawerOpened" mode="side">
    <div class="drawer-content">
      <div *ngIf="hasAnyElement(navItems)"></div>
      <mat-nav-list role="navigation">
        <a *ngFor="let navItem of navItems"
           [disableRipple]="true"
           [routerLinkActiveOptions]="{exact: true}"
           [routerLink]="[navItem.path]"
           mat-list-item
           routerLinkActive="activated"
           [activated]="isActive(navItem.path)"
        >
        <span class="icon-center">
      <mat-icon>{{ navItem.icon }}</mat-icon>
          {{ navItem.title }}
    </span>
        </a>
      </mat-nav-list>
      <div class="spacer"></div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
